<!DOCTYPE html>
<html>
<head>
    <title>Transaction Completion</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <div class="container">
        <h2>Transaction Status</h2>
        <p>Thank you for your Interest! Your transaction status is below.</p>

        {% if status == 'success' %}
            <h3>Your loan has been successfully originated!</h3>
            <p>Your loan is now active, and the amount will be disbursed shortly. The repayment will be as per the agreed EMI schedule.</p>
        {% else %}
            <h3>Transaction Declined</h3>
            <p>Unfortunately, no offers are available at this time. Please choose another payment option.</p>
        {% endif %}

    </div>
</body>
</html>
